* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
}

/* Cores */
:root {
    --cinza: #3F3D3D;
    --bege-claro: #F1ECD3;
    --lilas-logo: #BD9B9B;
    --lilas-cinza: #746A77;
    --branco: #FFFFFF;
    --preto: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(../assets/images/CabeçalhoPrincipal.svg) ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 20px;
    padding: 20px;
    align-items: flex-end;
    color: var(--lilas-cinza);
    font-weight: bold;
    font-size: 30px;
    gap: 20px;
    transition: 0.4s;
}

nav a:hover {
    border-bottom: 1px solid var(--lilas-cinza);
}

footer {
    background-color: var(--bege-claro);
    padding: 20px;
    display: flex;
    justify-content: left;
}